/* .inner-container {
  background-color: azure;
  padding: 10px 30px;
} */
 
:root {
  --coupolic-palette-950: #1e1a4d;
  --coupolic-palette-900: #312c85;
  --coupolic-palette-800: #372aac;
  --coupolic-palette-700: #432dd7;
  --coupolic-palette-600: #4f39f6;
  --coupolic-palette-500: #615fff;
  --coupolic-palette-400: #7c86ff;
  --coupolic-palette-300: #a3b3ff;
  --coupolic-palette-200: #c6d2ff;
  --coupolic-palette-100: #e0e7ff;
  --coupolic-palette-50: #eef2ff;
}

.coupolic-container {
  width: 1000px;
  /* width: 1200px; */
  margin: 48px auto;
  
  padding: 48px;
  border-radius: 20px;
  border: 1px solid var(--coupolic-palette-200);
}

.nav-items {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  
}

.nav-item {
  padding: 6px 0px;
  /* border: 1px solid; */
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: var(--coupolic-palette-900);
}

.nav-item a {
  padding: 6px 16px;
  text-decoration: none;
  color: var(--coupolic-palette-900);
  font-weight: 600;
  font-size: 14px;
  user-select: none;
}

.nav-item a:focus, .coupolic-general-sub-nav-menus .sub-nav-menu a:focus {
  box-shadow: none;
}


.nav-item:hover {
  background-color: var(--coupolic-palette-200);
  transition: .3s all ease;
}

.nav-active {
  background-color: var(--coupolic-palette-200);
}

.sub-nav-menu.nav-active {
  background-color: var(--coupolic-palette-100);
}

.app-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: flex-start;
  line-height: 1;
  color: var(--coupolic-palette-900);
}

.coupolic-settings-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}


.inner-box {
  height: 100%;
  display: flex;
  gap: 20px;
}

.inner-section {
  background-color: var(--coupolic-palette-50);
  border: 1px solid var(--coupolic-palette-100);
  color: var(--coupolic-palette-900);
  padding: 24px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
}

.coupolic-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 52px;
  color: var(--coupolic-palette-900)
}

.coupolic-header-upper-section {
  display: flex;
  gap: 12px;
  /* height: 30px; */
  align-items: last baseline;
}

.coupolic-general-sub-nav-menus {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  font-weight: 600;
}

.coupolic-general-sub-nav-menus .sub-nav-menu {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  margin: 4px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.coupolic-general-sub-nav-menus .sub-nav-menu a {
  user-select: none;
  text-decoration: none;
  color: var(--coupolic-palette-900);
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}